/*Schrijf hier jouw CSS*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;

}

article {
    flex-basis: 60vw;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;
}

nav {
    flex-basis: 20vw;
    order: 3;
    flex-shrink: 3;
    flex-grow: 1;
}

aside {
    flex-basis: 20vw;
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;

}

footer {
    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 0;
}